doctype html
html(itemscope
     itemtype='http://schema.org/Article')
  head
    title= candidate.name_zawgyi + ' | mVoter 2017'
    include header

    meta(name='twitter:card'
         content='summary')
    meta(name='twitter:site'
         content='@mVoter 2017')
    meta(name='twitter:title'
         content=candidate.name_zawgyi)
    meta(name='twitter:description'
         content=candidate.party.party_zawgyi)
    meta(name='twitter:creator'
         content='@mvoterapp')
    meta(name='twitter:image'
         content=candidate.photo_url)

    meta(property='og:locale'
         content='en_US')
    meta(property='og:type'
         content='website')
    meta(property='og:title'
         content=candidate.name_zawgyi)
    meta(property='og:description'
         content=candidate.party.party_zawgyi)
    meta(property='og:url'
         content='mvoterapp.com/candidate/' + candidate.curr_id)
    meta(property='og:site_name'
         content='mVoter 2017')
    meta(property='og:image'
         content=candidate.photo_url)
    meta(property='og:image:width'
         content='200')
    meta(property='og:image:height'
         content='200')

  body
    section(id='candidate')
      div(class='container')
        div(class='card-panel')
          div(class='row center-all')
            div(class='col s5')
              img(src=candidate.photo_url
                  alt=candidate.name
                  class='img-circle img-candidate')
            div(class='col s7')
              p= candidate.name
              div(class='spacer')
              img(src=candidate.party.party_flag
                  class='img-flag')
              div(class='spacer')
              a(href='//mvoterapp.com/party/' + candidate.party.id
                class='party-link'
              )= candidate.party.party_name
      div(class='container')
        div(class='card-panel')
          div(class='row center-all remove-margin')
            div(class='col s2')
              img(src='../images/parliament@3x.png'
                  alt='Parliament Icon'
                  class='img-icon center-block')
            div(class='col s10')
              p= candidate.legislature
          div(class='row center-all remove-margin')
            div(class='col s2')
              img(src='../images/vote@3x.png'
                  alt='Vote Icon'
                  class='img-icon center-block')
            div(class='col s10')
              p= candidate.constituency.name
      div(class='container')
        div(class='card-panel')
          ul(class='list-detail')
            li
              div(class='center-all')
                span(class='dot')
                span= 'မွေးသက္ကရာဇ်'
              p= candidate.birthdate
            li
              div(class='center-all')
                span(class='dot')
                span= 'အသက်'
              p= candidate.age
            li
              div(class='center-all')
                span(class='dot')
                span= 'ပညာအရည်အချင်း'
              p= candidate.education
            li
              div(class='center-all')
                span(class='dot')
                span= 'အလုပ်အကိုင်'
              p= candidate.occupation
            li
              div(class='center-all')
                span(class='dot')
                span= 'လူမျိုး'
              p= candidate.ethnicity
            li
              div(class='center-all')
                span(class='dot')
                span= 'ကိုးကွယ်သည့်ဘာသာ'
              p= candidate.religion
            li
              div(class='center-all')
                span(class='dot')
                span= 'မိခင်အမည်'
              p= candidate.mother.name
            li
              div(class='center-all')
                span(class='dot')
                span= 'မိခင်ကိုးကွယ်သည့်ဘာသာ'
              p= candidate.mother.religion
            li
              div(class='center-all')
                span(class='dot')
                span= 'ဖခင်အမည်'
              p= candidate.father.name
            li
              div(class='center-all')
                span(class='dot')
                span= 'ဖခင်ကိုးကွယ်သည့်ဘာသာ'
              p= candidate.father.religion
  include footer
