doctype html
html(itemscope
     itemtype='http://schema.org/Article')
  head
    - var faqCategory = faq.category
    case faqCategory
      when 'HowtoVote': title= 'မဲပေးခြင်းအသိပညာ | mVoter 2017'
      when 'Civic Education': title= 'မြို့ပြအသိပညာ | mVoter 2017'
      when 'ElectionGeneral': title= 'ရွေးကောက်ပွဲအသိပညာ | mVoter 2017'
      when 'VoterList': title= 'မဲစာရင်းအသိပညာ | mVoter 2017'
      when 'ElectoralDisputes': title= 'အငြင်းပွားမှုများ | mVoter 2017'

    include header
  <!-- For Twitter -->
    meta(name='twitter:card'
         content='summary')
    meta(name='twitter:site'
         content='@mVoter 2017')
    meta(name='twitter:title'
         content=faq.question_zawgyi)
    meta(name='twitter:description'
         content=faq.answer_zawgyi)
    meta(name='twitter:creator'
         content='@mvoterapp')
    meta(name='twitter:image'
         content='../images/app-icon.png')

  <!-- For Facebook -->
    meta(property='og:locale'
         content='en_US')
    meta(property='og:type'
         content='website')
    meta(property='og:title'
         content=faq.question_zawgyi)
    meta(property='og:description'
         content=faq.answer_zawgyi)
    meta(property='og:url'
         content='mvoterapp.com/faq/' + faq.curr_id)
    meta(property='og:site_name'
         content='mVoter 2017')
    meta(property='og:image'
         content='../images/app-icon.png')
    meta(property='og:image:width'
         content='200')
    meta(property='og:image:height')

    body
      section(id='faq')
        div(class='container')
          div(class='card-panel')
            div(class='row')
              div(class='col s12')
                span(class='subt-faq')= 'အမေး'
                div(class='spacer')
                p(class='faq-paragraph')= faq.question
            div(class='row')
              div(class='col s12')
                span(class='subt-faq')= 'အဖြေ'
                div(class='spacer')
                p(class='faq-paragraph')= faq.answer

    include footer
