meta(
  name="viewport"
  content="width=device-width, initial-scale=1.0")

meta(
  name="mobile-web-app-capable"
  content="yes")
link(
  rel="icon"
  sizes="192x192"
  href="images/android-desktop.png"
  )

meta(
  name="apple-mobile-web-app-capable"
  content="yes"
  )
meta(
  name="apple-mobile-web-app-status-bar-style"
  content="black"
  )
meta(
  name="apple-mobile-web-app-title"
  content="mVoter 2017"
  )
link(
  rel="apple-touch-icon-precomposed"
  href="images/ios-desktop.png"
)

link(rel='stylesheet'
    href='//mmwebfonts.comquas.com/fonts/?font=pyidaungsu')
link(rel='stylesheet'
    href='/stylesheets/reset.css')
link(rel='stylesheet'
    href='/stylesheets/materialize.css')
link(rel='stylesheet'
    href='/stylesheets/style.css')
