doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/material.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p console.log('hello world')
  include footer
