doctype html
html(itemscope
     itemtype='http://schema.org/Article')
  head
    title= party.party_name + ' | mVoter 2017'
    include header

    meta(name='twitter:card'
         content='summary')
    meta(name='twitter:site'
         content='@mvoterapp')
    meta(name='twitter:title'
         content=party.party_name_zawgyi)
    meta(name='twitter:description'
         content=party.party_name_english)
    meta(name='twitter:creator'
         content='@mvoterapp')
    meta(name='twitter:image'
         content=party.party_flag)

    meta(property='og:locale'
         content='en_US')
    meta(property='og:type'
         content='website')
    meta(property='og:title'
         content=party.party_name_zawgyi)
    meta(property='og:description'
         content=party.party_name_english)
    meta(property='og:url'
         content='mvoterapp.com/candidate/' + party.curr_id)
    meta(property='og:site_name'
         content='mVoter 2017')
    meta(property='og:image'
         content=party.party_flag)
    meta(property='og:image:width'
         content='200')
    meta(property='og:image:height'
         content='200')

  body
    section(id='party')
      div(class='container')
        div(class='card-panel')
          div(class='row')
            div(class='col s5')
              img(src=party.party_flag
                  alt=party.party_name + 'အလံ'
                  class='img-flag-party')
            div(class='col s7')
              p= party.party_name
              p= party.party_name_english
      div(class='container')
        div(class='card-panel')
          div(class='row')
            div(class='col s12')
              img(src='../images/vote@3x.png'
                  class='img-icon'
                  alt='Vote Icon')
              span(style='margin-left: 10px')= party.region
      div(class='container')
        div(class='card-panel')
          ul(class='list-detail')
            li
              div(class='center-all')
                span(class='dot')
                span= 'ခေါင်းဆောင်များ'
              p= party.leadership
            li
              div(class='center-all')
                span(class='dot')
                span= 'အမှုဆောင်များ'
              p= party.chairman
            li
              div(class='center-all')
                span(class='dot')
                span= 'စတင်ဖွဲ့စည်းသည့်ရက်စွဲ'
              p= party.establishment_date
            li
              div(class='center-all')
                span(class='dot')
                span= 'ဖွဲ့စည်းမှုအတည်ပြုရက်စွဲ'
              p= party.establishment_approval_date
            li
              div(class='center-all')
                span(class='dot')
                span= 'မှတ်ပုံတင်သည့်ရက်စွဲ'
              p= party.registration_application_date
            li
              div(class='center-all')
                span(class='dot')
                span= 'မှတ်ပုံတင်အတည်ပြုရက်စွဲ'
              p= party.registration_approval_date
            li
              div(class='center-all')
                span(class='dot')
                span= 'ရုံးချုပ်တည်နေရာ'
              p= party.headquarters
        a(class='waves-effect wave-lite btn btn-policy' href=party.policy)= 'မူဝါဒ'
        div(class='spacer')
  include footer
