@import 'mixins'

$dark-indigo: #3F51B5
$grey-white: #fafafa
$text-color: #212121

body
  @include width-height(100%, 100%)
  font-family: Pyidaungsu
  background-color: #FAFAFA

a
  color: #000

a.party-link
  line-height: 22px

.faq-paragraph
  line-height: 32px

.remove-margin
  margin-bottom: 0

.center-block
  display: block
  margin: 0 auto

.img-circle
  border-radius: 50%

.img-flag
  @include width-height(42px, auto)
  display: block

.img-flag-party
  @include width-height(100%, auto)
  display: block

.img-candidate
  @include width-height(92px, 92px)
  @extend .center-block

.card
  width: 100%
  border-radius: 5px 5px 0 0
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2)
  padding: 4px

.center-all
  display: flex
  align-items: center
  flex-direction: row

.spacer
  margin-bottom: 20px

.img-icon
  @include width-height(22px, 22px)

.btn-policy
  width: 100%
  height: 42px
  padding: 5px
  background-color: $grey-white
  color: $text-color
  &:hover, &:active
    background-color: rgba(0, 0, 0, 0.1)

.waves-effect.waves-lite .waves-ripple
  background-color: rgba(0, 0, 0, 0.65)

.subt-faq
  font-size: 1.2em
  color: $dark-indigo

span.dot
  display: inline-block
  @include width-height(15px, 15px)
  background-color: $dark-indigo
  border-radius: 50%

#candidate
  p
    line-height: 32px
    font-size: 1em

ul.list-detail
  li
    line-height: 32px
    span:nth-child(2)
      color: $dark-indigo
      font-size: 1.1em
      margin-left: 10px
    p
      margin-left: 25px
