body {
  width: 100%;
  height: 100%;
  font-family: Pyidaungsu;
  background-color: #FAFAFA; }

a {
  color: #000; }

a.party-link {
  line-height: 22px; }

.faq-paragraph {
  line-height: 32px; }

.remove-margin {
  margin-bottom: 0; }

.center-block, .img-candidate {
  display: block;
  margin: 0 auto; }

.img-circle {
  border-radius: 50%; }

.img-flag {
  width: 42px;
  height: auto;
  display: block; }

.img-flag-party {
  width: 100%;
  height: auto;
  display: block; }

.img-candidate {
  width: 92px;
  height: 92px; }

.card {
  width: 100%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 4px; }

.center-all {
  display: flex;
  align-items: center;
  flex-direction: row; }

.spacer {
  margin-bottom: 20px; }

.img-icon {
  width: 22px;
  height: 22px; }

.btn-policy {
  width: 100%;
  height: 42px;
  padding: 5px;
  background-color: #fafafa;
  color: #212121; }
  .btn-policy:hover, .btn-policy:active {
    background-color: rgba(0, 0, 0, 0.1); }

.waves-effect.waves-lite .waves-ripple {
  background-color: rgba(0, 0, 0, 0.65); }

.subt-faq {
  font-size: 1.2em;
  color: #3F51B5; }

span.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #3F51B5;
  border-radius: 50%; }

#candidate p {
  line-height: 32px;
  font-size: 1em; }

ul.list-detail li {
  line-height: 32px; }
  ul.list-detail li span:nth-child(2) {
    color: #3F51B5;
    font-size: 1.1em;
    margin-left: 10px; }
  ul.list-detail li p {
    margin-left: 25px; }

/*# sourceMappingURL=style.css.map */